# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
__pycache__/

# VS Code settings
.vscode/

# Data, logs, plots, or scratch files
data/
*.csv
*.log
*.tmp
plots/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
